// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$hermes-blue: #1460AB;
$hermes-darkestblue: rgb(0, 55, 199);
$hermes-darkblue: #337357;
$hermes-green: #337357;
$hermes-lightgreen: #17b972;
$hermes-bubblegreen: #139e61;
$hermes-lightblue: #40BCD8;
$hermes-lightblue2: #39A9DB;
$hermes-red: #D63230;
$hermes-black: #323638;
$hermes-gold: #F29559;
$hermes-filler: #F2D492;
$hermes-white: #e2e5e6;
$hermes-gainsboro: #9c9797;
