
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
  top: 0;
  left: 0;
}

.showcase {
  // display: flex;
  // flex-flow: wrap;
  // overflow-y: scroll;
  // width: 29em;
  // height: 19em;
  grid-area: showcase;
  border-radius: 2em;
  background-color: #F2D492;
  box-shadow: 0px 0px 20px black inset;
  height: 24em;
  position: relative;
  width: 31em;
}

.showcase-content {
  display: flex;
  position: relative;
  flex-flow: wrap;
  border-radius: 2em;
  overflow-y: scroll;
  top: 1.5em;
  left: 1em;
  width: 28em;
  height: 20em;
  canvas {
    height: 8em;
    width: 8em;
  }
}

.showcase-content::-webkit-scrollbar-track {
      border-radius: 10px;
    background-color: $hermes-white;
}

.showcase-content::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.showcase-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    //box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
    background-color: $hermes-green;
}


.avIntegrant {
  overflow: hidden;
  margin: 1em;
  border: 1px solid black;
  box-shadow: 1px 1px 6px black;
  width: 7em;
  height: 7em;
  background-color: $hermes-white;
}

.hiddenEl {
  visibility: hidden;
}

.pshow {
  font-weight: bold;
}

.active {
  border: 3px dotted #D63230;
  /* outline-style: dotted; */
  /* outline-color: #633838; */
  /* outline-width: 4px; */
}

.loading {
  position: absolute;
  left: 2.5em;
  top: 2.5em;
  width: 2em;
}

.studio-container {
  background-color: $hermes-white;
  display: grid;
  border-radius: 2em;
  box-shadow: 0px 0px 11px #00000066;
  grid-template:"menu avatar"
                "menu showcase"
                / 9% 91%;
  }

.menu-container {
  background-color: $hermes-filler;
  border-top-left-radius: 2em;
  height: 100%;
  border-bottom-left-radius: 2em;
  display: grid;
  box-shadow: 6px 2px 12px #00000045;
}

.menu-inferior {
  align-self: end;
  margin: 0 auto;
}

.avatar-container {
  grid-area: avatar;
}

.studio-left {
  grid-area: menu;
  width: 100%;
}

.studio-right {
  margin: 0 auto;
}

.studio-assetbtn {
  background-color: $hermes-green;
  width: 4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  height: 4em;
  text-align: center;
  border-radius: 1em;
  transition: 0.5s;
  img {
    transition: 0.5s;
    width: 54px;
    height: 54px;
    position: relative;
    top: 0em;
    left: 0em;
  }
}

// .categoryimg {
//   width: 54px;
//   height: 54px;
// }

.studio-assetbtn:hover {
  background-color: $hermes-bubblegreen;
  img {
    position: relative;
    top: 0.5em;
    left: 0.5em;
  }
}
