
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
  top: 0;
  left: 0;
}

.pos-relative {
  position: relative;
}

.showcase {
  // display: flex;
  // flex-flow: wrap;
  // overflow-y: scroll;
  // width: 29em;
  // height: 19em;
  // grid-area: showcase;
  margin: 1em 3em;
  border-radius: 2em;
  background-color: $hermes-filler;
  box-shadow: 0px 0px 20px black inset;
  height: 100%;
  position: relative;
  width: 31em;
  padding-bottom: 2em;
}

.showcase-content {
  display: flex;
  justify-content: center;
  // position: relative;
  flex-flow: wrap;
  border-radius: 2em;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 1em;
  // top: 1.5em;
  // left: 1em;
  width: 28em;
  height: 20em;
  canvas {
    height: 8em;
    width: 8em;
  }
}

.showcase-unload {
  background-color: $hermes-green;
  height: 20%;
  display: flex;
  box-shadow: 1px 1px 7px black;
  border-radius: 1em;
  place-self: center;
  p {
    align-self: center;
    font-weight: bold;
    color: $hermes-white;
    font-size: 123%;
    margin-bottom: 0;
    padding: 1em;
  }
}

.showcase-content::-webkit-scrollbar-track {
      border-radius: 10px;
    background-color: $hermes-white;
}

.showcase-content::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.showcase-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    //box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
    background-color: $hermes-green;
}


.avIntegrant {
  overflow: hidden;
  margin: 1em;
  border: 1px solid black;
  box-shadow: 1px 1px 6px black;
  width: 7em;
  height: 7em;
  background-color: $hermes-white;
  transition: all 200ms ease;
}

.avIntegrant:hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}

.hiddenEl {
  display: none;
}

.pshow {
  font-weight: bold;
}

.active {
  border: 3px dotted #D63230;
  /* outline-style: dotted; */
  /* outline-color: #633838; */
  /* outline-width: 4px; */
}

.loading {
  position: absolute;
  left: 2.5em;
  top: 2.5em;
  width: 2em;
}

.studio-container {
  background-color: $hermes-white;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 0px 0px 11px #00000066;
  width: fit-content;
  margin: 0 auto;
  min-height: 63em;
  // grid-template:"menu avatar"
  //               "menu showcase"
  //               / 9% 91%;
  }

.studio-container-enter {
  max-height: 69em;
}

.studio-container-enter-active {
  max-height: 74em;
  transition: all 800ms ease-out;
}

.studio-container-exit {
  max-height: 74em;
}

.studio-container-exit-active {
  max-height: 69em;
  transition: all 800ms ease-in;
}

.studio-color-container {
  display: flex;
}

.menu-container {
  background-color: $hermes-green;
  border-top-left-radius: 2em;
  height: 6em;
  border-top-right-radius: 2em;
  display: grid;
  box-shadow: 6px 2px 12px #00000045;
}

.menu-inferior {
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  height: 5em;
  justify-content: center;
  background-color: $hermes-green;
  display: flex;
}

.menu-inf-btns {
  display: flex;
  align-items: center;
}

.avatar-container {
  align-self: center;
  margin-top: 5%;
}

.studio-superior {
  display: flex;
  flex-direction: column;
}

.studio-inferior {
  align-self: center;
}


.studio-assetbtn {
  background-color: $hermes-filler;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0.3em;
  height: 4em;
  text-align: center;
  border-radius: 1em;
  transition: 300ms ease;
  img {
    width: inherit;
    height: 100%;
    position: relative;
    top: 0em;
    left: 0em;
  }
}

.studio-activebtn {
  background-color: $hermes-gold !important;
}

.studio-assetbtn:hover {
  background-color: $hermes-gold;
  transform: scale(1.2);
  transition: 300ms ease;
  // img {
  //   position: relative;
  //   top: 0.5em;
  //   left: 0.5em;
  // }
}

// Color picker

.studio-color {
  box-shadow: 0px 0px 10px #000000a3 inset;
  background-color: $hermes-filler;
  border-radius: 1em;
  margin: 1em 3em;
  height: 4em;
  //overflow: hidden;
}

.studio-color-enter {
  opacity: 0;
  transform: translateY(-80%);
}

.studio-color-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translateY(0%);
}

.studio-color-exit {
  opacity: 1;
  transform: translateX(0%);
}

.studio-color-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(80%);
  transition: opacity 300ms, transform 300ms;
}

.color-picker{
  background-color: $hermes-green;
  width: 4em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  img {
    width: 100%;
    padding: 0.5em;
  }
}

.opts-container {
  align-self: center;
  margin: 1em;
  button {
    width: 1em;
    box-shadow: 0px 0px 11px #0000008a;
    height: 1em;
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
}

.picker {
  position: absolute;
  top: -451%;
  padding: 1em;
  border-radius: 2em;
  background-color: $hermes-green;
  left: -15%;
}

.picker:after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 55%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: $hermes-green;
  border-bottom: 0;
  //border-right: 0;
  margin-left: -111.5px;
  margin-bottom: -25px;
}

.rgbwheel {
      position: absolute;
    width: 8%;
    top: 20%;
    left: 9%;
    box-shadow: 1px 1px 9px black;
    border-radius: 10em;
    background-color: $hermes-green;
}

.menu-content {
  display: flex;
  align-self: center;
}

.studio-top-btn {
  background-color: $hermes-filler;
  padding: 0.5em;
  border-radius: 1em;
  width: 4em;
  margin-left: 1em;
  transition: 300ms ease;
  img {
    width: 100%;
  }
}

.studio-top-btn:hover {
  background-color: $hermes-gold;
  transform: scale(1.2);
  transition: 300ms ease;
}

