
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
  top: 0;
  left: 0;
}

.showcase {
  // display: flex;
  // flex-flow: wrap;
  // overflow-y: scroll;
  // width: 29em;
  // height: 19em;
  // grid-area: showcase;
  margin: 3em;
  border-radius: 2em;
  background-color: $hermes-filler;
  box-shadow: 0px 0px 20px black inset;
  height: 100%;
  position: relative;
  width: 31em;
  padding-bottom: 2em;
}

.showcase-content {
  display: flex;
  justify-content: center;
  // position: relative;
  flex-flow: wrap;
  border-radius: 2em;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 1em;
  // top: 1.5em;
  // left: 1em;
  width: 28em;
  height: 20em;
  canvas {
    height: 8em;
    width: 8em;
  }
}

.showcase-unload {
  background-color: $hermes-green;
  height: 20%;
  display: flex;
  box-shadow: 1px 1px 7px black;
  border-radius: 1em;
  place-self: center;
  p {
    align-self: center;
    font-weight: bold;
    color: $hermes-white;
    font-size: 123%;
    margin-bottom: 0;
    padding: 1em;
  }
}

.showcase-content::-webkit-scrollbar-track {
      border-radius: 10px;
    background-color: $hermes-white;
}

.showcase-content::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.showcase-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    //box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
    background-color: $hermes-green;
}


.avIntegrant {
  overflow: hidden;
  margin: 1em;
  border: 1px solid black;
  box-shadow: 1px 1px 6px black;
  width: 7em;
  height: 7em;
  background-color: $hermes-white;
}

.hiddenEl {
  display: none;
}

.pshow {
  font-weight: bold;
}

.active {
  border: 3px dotted #D63230;
  /* outline-style: dotted; */
  /* outline-color: #633838; */
  /* outline-width: 4px; */
}

.loading {
  position: absolute;
  left: 2.5em;
  top: 2.5em;
  width: 2em;
}

.studio-container {
  background-color: $hermes-white;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 0px 0px 11px #00000066;
  width: fit-content;
  margin: 0 auto;
  // grid-template:"menu avatar"
  //               "menu showcase"
  //               / 9% 91%;
  }

.menu-container {
  background-color: $hermes-green;
  border-top-left-radius: 2em;
  height: 6em;
  border-top-right-radius: 2em;
  display: grid;
  box-shadow: 6px 2px 12px #00000045;
}

.menu-inferior {
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  height: 5em;
  justify-content: center;
  background-color: $hermes-green;
  display: flex;
}

.menu-inf-btns {
  display: flex;
  align-items: center;
}

.avatar-container {
  align-self: center;
  margin-top: 5%;
  margin-bottom: 6%;
}

.studio-superior {
  display: flex;
  flex-direction: column;
}

.studio-inferior {
  align-self: center;
}


.studio-assetbtn {
  background-color: $hermes-filler;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0.3em;
  height: 4em;
  text-align: center;
  border-radius: 1em;
  transition: 0.5s;
  img {
    transition: 0.5s;
    width: inherit;
    height: 100%;
    position: relative;
    top: 0em;
    left: 0em;
  }
}

.studio-assetbtn:hover {
  background-color: $hermes-gold;
  img {
    position: relative;
    top: 0.5em;
    left: 0.5em;
  }
}

// Color picker

.studio-color {
  background-color: $hermes-filler;
}

.color-picker{
  background-color: $hermes-green;
  width: 10%;
  img {
    width: 100%;
  }
}

.picker {
  position: absolute;
  top: 48%;
  padding: 1em;
  background-color: $hermes-green;
  left: 23%;
}
