// Specific CSS for your home-page
body{
  min-width: fit-content;
  background-image: url(clouds3.jpg), linear-gradient(180deg, rgb(0, 139, 193) 0%, rgba(0,119,182,1) 29%, rgba(0,180,216,1) 57%, rgba(144,224,239,1) 83%, rgba(202,240,248,1) 98%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  p, h1, h2, h3, span {
    color: $hermes-black;
  }
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.mcontainer {
  min-width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}


.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  background-color: rgba(0,0,0,0.1);
  width: 450px;
}

.banner h1 {
  margin: 0;
  color: #F2F2F2;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  height: 120px;
  width: 400px;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 420px;
  height:90px;
}

.btn-flat-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1C77C3;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-flat-blue:hover {
  background: #F2F2F2;
  color: black;
}

.btn-flat-login {
  color: black;
  border: solid black 1px;
  // padding: 8px 24px;
  border-radius: 5px;
  background: white;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-flat-login:hover {
  background: $hermes-blue;
  color: black;
}

.btn-search {
  width:80%;
  background: $hermes-blue;
  color: #C2D8FE;
  border: solid black 1px;
  text-align: center;
  position: relative;
  left: 15px;
}

.btn-search:hover {
  background:  #C2D8FE;
  color: $hermes-blue;
  transition: background 0.3s ease;
}

#find-title {
  font-weight: bolder;
  text-align: center;
}

.interest-form {
  // width: 100%;
  display: contents;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 15px;
}

@media (min-width: 300px) {
  .interest-form{
      width: 112% !important;
  }
}

@media (min-width: 450px) {
  .interest-form{
      width: 108% !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .interest-form{
      width: 100% !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .interest-form{
      width: 100% !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .interest-form{
      width: 100% !important;
  }
}
