.navbar-lewagon {
    justify-content: space-between;
    box-shadow: 2px 1px 11px 2px #00000040;
    background: $hermes-white;
    height: 64px;
    margin-top: 1em;
}

.bubble-blue{

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30.52px;
  height: 45px;
}

.logo {
position: relative;
    margin-left: 5em;
    font-weight: bold;
    text-shadow: 3px 1px 0px $hermes-filler;
    letter-spacing: 0.3em;
    font-size: 1.3em;
    text-transform: uppercase;
    color: $hermes-black;
    text-decoration: none !important;
}
.logo:hover {
  color: black;
}

.logo-img {
    position: absolute;
    top: 1.2em;
    width: 5em;
    height: 5em;
    margin-left: -0.5em;
    margin-top: -1.7em;
        background-color: $hermes-filler;
    border-radius: 50%;
    box-shadow: 2px 1px 5px 1px #00000078;
}

.navbar-light .navbar-nav {
  .active > .nav-link {
    color: $hermes-green !important;
    &:hover{
      color: $hermes-lightgreen;
    }
  }
  .nav-link {
    color: $hermes-green;
    &:hover{
      color: $hermes-lightgreen;
    }
  }
}

