.navbar-lewagon {
    justify-content: space-between;
    box-shadow: 2px 1px 11px 2px #00000040;
    background: $hermes-white;
    height: 64px;
    margin-top: 1em;
}

.bubble-blue{

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30.52px;
  height: 45px;
}

.logo {
position: relative;
    margin-left: 38%;
        white-space: nowrap;
    font-weight: bold;
    text-shadow: 3px 1px 0px $hermes-filler;
    letter-spacing: 0.3em;
    font-size: 1.3em;
    text-transform: uppercase;
    color: $hermes-black;
    text-decoration: none !important;
}
.logo:hover {
  color: black;
}

.logo-img {
    position: absolute;
    top: 1.2em;
    width: 5em;
    height: 5em;
    margin-left: -0.5em;
    margin-top: -1.7em;
        background-color: $hermes-filler;
    border-radius: 50%;
    box-shadow: 2px 1px 5px 1px #00000078;
}

.navbar-light .navbar-nav {
  .active > .nav-link {
    color: $hermes-green !important;
    &:hover{
      color: $hermes-lightgreen;
    }
  }
  .nav-link {
    color: $hermes-green;
    &:hover{
      color: $hermes-lightgreen;
    }
  }
}

.menu {
  background-color: $hermes-white;
  width: 90%;
  margin-top: 2em !important;
  border-radius: 2.6em;
  margin: 0 auto;
  box-shadow: 2px 1px 9px 3px #00000040;
  .menu-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    img{
      margin-left: 33%;
    }
    li {
      align-self: center;
      a{
        color: $hermes-green;
        text-decoration: none !important;
      }
    }
  }
  .menu-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}


@media (min-width: 576px) {
  .menu {
    content-visibility: visible;
    visibility: visible;
    .menu-content{
      place-content: center;
    }
    .nav-item{
      margin: 0.5em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
    content-visibility: hidden;
    visibility: hidden;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu {
    content-visibility: hidden;
    visibility: hidden;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .menu {
    content-visibility: hidden;
    visibility: hidden;
  }
}
